.nav { 
    background-color: aliceblue;
    text-align: right;
    z-index:1000;
}
.list{
    display:inline-block;
    margin-right:30px;
}
li{
    display:inline;
    margin-right:30px;
}
img {
    display:block;
    text-align: center;
    border-radius: 50%;
}
.home{
    background-color:rgb(rgb(7, 1, 1), rgb(25, 36, 25), rgb(21, 21, 44))
}
body{
    background-color:rgb(rgb(110, 100, 100), rgb(196, 199, 196), rgb(195, 195, 239))
}
.about{
    background-color:beige
    margin-right: auto;
    margin-left: auto;
}
